body {
  margin: 0;
  padding: 0;
  background: #030228; 
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;          
}

canvas {
  display: block;
  border: 6px solid #ffe77c; 
}